html {
  background: #ffc600;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  font-size: 20px;
  font-weight: 200;
}

body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.c-panels {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
}

.c-panels__panel {
  align-items: center;
  background: #6B0F9C;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  display: flex;
  font-size: 20px;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  /*text-align: center;*/
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
          font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
          flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
          background 0.2s;
}

.panel__item-1 {
  background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
}

.panel__item-2 {
  background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
}

.panel__item-3 {
  background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}

.panel__item-4 {
  background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
}

.panel__item-5 {
  background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
}

/* Flex Children */
.c-panels__panel > * {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 0;
  transition: transform 0.5s;
  width: 100%;
}

.c-panels__panel > *:first-child {
  transform: translateY(-100%);
}

.c-panels__panel.open-active > *:first-child {
  transform: translateY(0);
}

.c-panels__panel > *:last-child {
  transform: translateY(100%);
}

.c-panels__panel.open-active > *:last-child {
  transform: translateY(0);
}

.c-panels__panel p {
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  text-transform: uppercase;
}

.c-panels__panel p:nth-child(2) {
  font-size: 4em;
}

.c-panels__panel.open {
  flex: 5;
  font-size: 40px;
}