html {
  box-sizing: border-box;
  background-color: #000000;
  color: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
  margin: 0;
}

.c-wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px;
  max-width: 1400px;
  overflow: hidden;
}

@media (min-width: 480px) {
  .c-wrapper {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.wrapper__align--left {
  float: left;
}
.wrapper__align--right {
  float: right;
}

.wrapper__align--right,
.wrapper__align--left{
  padding: 4rem;
}

@media (min-width: 480px) {
  .wrapper__align--left {
    padding: 3rem 3rem 3rem 0;
  }
  .wrapper__align--right {
    padding: 3rem 0 3rem 3rem;
  }
}

.wrapper__slide-in {
  opacity: 0;
  transition: all .5s;
}

.wrapper__align--left.wrapper__slide-in {
  transform: translateX(-60%) scale(0.75);
}

.wrapper__align--right.wrapper__slide-in {
  transform: translateX(30%) scale(0.75);
}

.wrapper__slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}